<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<br />

<p th:unless="${vehicles} and ${vehicles.size()}">No vehicles entered yet.</p>

<div>

    <ul>
        <li th:each="make : ${vehicles.make}">
            <ul>
                <li th:each="model : ${vehicles.model}"></li>
            </ul>
        </li>
    </ul>
</div>

<br />

<a href="/vehile/add">Add A Vehicle</a>
</body>
</html>